services:
  flask-gunicorn-app:
    image: servingmlmodels-flask-gunicorn-app:1.0.0
    build:
      context: .
      dockerfile: ./images/Dockerfile.flask-gunicorn-app
    restart: always

  nginx:
    image: servingmlmodels-nginx:1.0.0
    build:
      context: .
      dockerfile: ./images/Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./container-volumes/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./container-volumes/nginx/certs:/etc/nginx/certs:ro
      - ./frontend:/usr/share/nginx/html:ro
    restart: always
